.listing{
    font-size:18px;
    display: block;
    padding: 14px;
}

.listing-title{
    font-size: 24px;
    font-weight: bold;
}

.listing-url a{
    color: forestgreen;
    text-decoration: none;
}

.listing-url a:hover{
    color: forestgreen;
    text-decoration: none;
}

.listing-description{

}

.listing-date{

}