.listing{
    font-size:18px;
    display: block;
    padding: 14px;
}

.listing:hover{
    background-color: whitesmoke;
}

.listing-title{
    font-size: 24px;
    font-weight: bold;
}

.listing-url{
    color: forestgreen;
    word-wrap: break-word;
}