{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<div>
  {% for listing in listings %}
      <div class="listing">
          <div class="listing-title">{{ listing.title }}</div>
          <div class="listing-url">{{ listing.url }}</div>
          <div class="listing-description">{{ listing.description }}</div>
          <div class="listing-date">{{ listing.date }}</div>
      </div>
  {% else %}
    <div><em>No listings here so far</em></div>
  {% endfor %}
</div>
{% endblock %}