{% extends "base.html" %}
{% block title %}CondoCroc{% endblock %}
{% block content %}
<div>
  {% for listing in listings %}
      <div class="listing">
          <div class="listing-title">{{ listing.title|safe }}</div>
          <div class="listing-url"><a href="{{ listing.url|safe }}">{{ listing.url }}</a></div>
          <div class="listing-description">{{ listing.description|safe }}</div>
          <div class="listing-date">{{ listing.date }}</div>
      </div>
  {% else %}
    <div><em>No listings here so far</em></div>
  {% endfor %}
</div>
{% endblock %}